{% extends "main/headers/header_logged_in.html" %}
{% load staticfiles%}
{% block content %}

<body>
  <form>
    <div class="input-field">
      <input type="text" class="datepicker materialize-red-text.text-darken-1">
    </div>
  </form>
    <div class="row">
      {% for r in residencias %}
        <div class="col s12 m7 l4">
          <div class="card medium z-depth-3">
            <div class="card-image">
              <img src="/images}">
              <span class="card-title">{{r.nombre}}</span>
            </div>
            <div class="card-content" style="overflow: auto">
              <p>{{r.descripcion}}</p><br>
            </div>
            <div class="card-action">
              <a href="#">Conocer</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  <script src="{% static 'scripts/buscar_residencias.js' %}"></script>
</body>

{% endblock %}
