{% extends "main/headers/header_logged_in.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}

<body>
  <p>
    <a href="/">Home</a>
      >
      <a href="javascript:history.go(-1)">Volver</a>
    </p>
  <h1 class="centrar">{{residencia.nombre}}</h1>
  <section>
    <div class="columna-grande">
      <img class="imagen-residencia"
      src="{% static residencia.primerFoto %}" alt="Imagen Residencia: {{ residencia.primerFoto }}">
    </div>
    <h5>Resumen:</h5>
    <div class="columna-chica">
      <div class="compacto scrollable">
        <p style="font-size: 20">{{residencia.descripcion}}</p>
      </div>
    </div>
  </section>
  <section>
    <div class="columna-grande" style="width: 100%; font-size: 150%">
      <span>{{residencia.ciudad}}, {{residencia.pais}} | </span>
      <span>Dirección: {{residencia.dirección}} | </span>
      <span>Pasajeros: {{residencia.personas}} | </span>
      <span>Baños: {{residencia.baños}}</span>
    </div>
  </section>
  {% if inscripto %}
    <div style="float: left; width: 100%">
      <h5 class="centrar">Proximas subastas:</h5>
    </div>
  <table style="width:100%">
    <tr>
      <th>Semana subastada</th>
      <th>Período de subasta</th>
      <th>Precio Incial</th>
      <th>Precio Reserva</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for s, i in inscripto.items %}
    <tr>
      <td>De {{s.dia_inicial}} a {{s.dia_final}}</td>
      <td>{{s.inicio_de_subasta}} - {{s.fin_de_subasta}}</td>
      <td>${{s.precio_inicial}}</td>
      <td>${{s.precio_reserva}}</td>
      {% if s.inicio_de_subasta > hoy %}
        {% if i %}
          <td><a href="" class="waves-effect waves-light btn-small disabled">Inscripto<a></td>
        {% else %}
          <td><a href="/inscribirse/{{residencia.id}}/{{s.id}}" class="waves-effect waves-light btn-small">Inscribirse<a></td>
        {% endif %}
      {% else %}
        {% if i %}
          <td><a href="" class="waves-effect waves-light btn-small disabled">Inscripto<a></td>
        {% else %}
          <td><a href="#" class="waves-effect waves-light disabled btn-small">Caducada<a></td>
        {% endif %}
      {% endif %}
      {% if user.premium %}
        <td><a href="/reserva/{{s.id}}" class="waves-effect waves-light btn-small">Reservar<a></td>
      {% else %}
        <td><a href="#" class="waves-effect waves-light disabled btn-small">Reservar<a></td>
      {% endif %}
      {% if s.iniciada %}
        <td><a href="/subasta/{{s.id}}" class="waves-effect waves-light btn-small">Ver<a></td>
      {% endif %}
    </tr>
    {% endfor %}
  {% else %}
    <div style="float: left; width: 100%">
      <h5 class="centrar">No hay subastas disponibles</h5>
    </div>
  {% endif %}
</body>

{% endblock %}
