<head>
  {% load static %}
  <link href="{% static 'tiny/css/prism.css' %}" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript for Materialize CSS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

{% block builder %}
{% endblock %}

<script src="{% static 'tinymce/js/prism.js' %}"></script>
