<head>
  {% load static %}
  <link href="{% static '/css/main.css' %}" rel="stylesheet">
  <link href="{% static '/css/materialize.css' %}" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
  <title>Home Switch Home</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript for Materialize CSS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
{% block builder %}
{% endblock %}

<script src="{% static 'tinymce/js/prism.js' %}"></script>
