<head>
  {% load static %}
  <link href="{% static '/css/main.css' %}" rel="stylesheet">
  <link href="{% static 'tiny/css/prism.css' %}" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript for Materialize CSS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Home Switch Home</title>
  <!-- <style>
    .centrar {
      display: flex;
      justify-content: center;
    }
    body {
      background: #e3f2fd;
      font-family: Helvetica;
      margin: 0;
      padding: 0;
    }
  </style> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
{% block builder %}
{% endblock %}

<script src="{% static 'tinymce/js/prism.js' %}"></script>
