{% extends "main/builder.html" %}

{% block builder %}
  <body>
    <nav>
      <div class="nav-wrapper #2196f3 blue">
        <a href="/" class="brand-logo">
          <font color="black">H</font> S <font color="black">H</font></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/register">Registrarse</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <br>
      <br>
      {% block content %}
      {% endblock %}
    </div>
  </body>
{% endblock %}
