{% extends "main/builder.html" %}
{% load staticfiles %}
{% block builder %}

  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper #ffa726 orange lighten-1">
          <a href="/" class="brand-logo">
          <img class="logo" src="{% static 'logos/HSH-Complete.svg' %}" alt="hsh logo">
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/perfil">{{request.user.first_name}}</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </header>
{% endblock %}
