{% extends "main/headers/header_logged_in.html" %}
{% load static %}
{% block content %}

<body>
  <p>
    <a href="/ver_residencia/{{subasta.residencia.id}}">Volver</a>
  </p>
  <p>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  </p>
  <div>
    <h3>Subasta por la semana del {{subasta.dia_inicial}} al {{subasta.dia_final}}
    en {{subasta.residencia}}</h3>
    {% if not subasta.iniciada %}
      <h5>La subasta comenzará el día {{subasta.inicio_de_subasta}} y terminará {{subasta.fin_de_subasta}}</h5>
      {% if not inscripto %}
      <p>Recuerda inscribirte para poder participar.</p>
      <a href="/inscribirse/{{subasta.residencia.id}}/{{subasta.id}}" class="waves-effect waves-light btn-small">Inscribirse</a>
      {% else %}
        <p><i class="material-icons">check</i>Estás inscripto</p>
        {% if user.premium %}
          {% if user.tiene_creditos %}
          <button data-target="modal1" class="waves-effect waves-light btn-small modal-trigger">Reservar</button>
          <div id="modal1" class="modal">
            <div class="modal-content">
              <h4>¿Seguro que quiere reservar la semana en {{subasta.residencia}}?</h4>
              <p>Semana de reserva: {{subasta.dia_inicial}} - {{subasta.dia_final}}</p>
              <p>Precio de reserva: ${{subasta.precio_reserva}}</p>
              <p>Créditos disponibles: {{user.creditos}}</p>
            </div>
            <div class="modal-footer">
              <a class="modal-close waves-effect waves-light btn-small">Cancelar</a>
              <a href="/reserva/{{subasta.id}}" class="modal-close waves-effect waves-light btn-small">
                Sí, reservar</a>
            </div>
          </div>
          {% else %}
          <td><a href="#" class="waves-effect waves-light disabled btn-small">Reservar<a></td>
          {% endif %}
        {% else %}
          <td><a href="#" class="waves-effect waves-light disabled btn-small">Reservar<a></td>
        {% endif %}
      {% endif %}
    {% else %}
      {% if inscripto %}
        <h5>La subasta ya comenzó, tenes tiempo hasta el {{subasta.fin_de_subasta}} para pujar</h5>
        <p><i class="material-icons">check</i>Estás inscripto</p>
      {% else %}
        <h5>La inscripción ya cerró. No puedes participar de las pujas.</h5>
      {% endif %}
      <div>
        <table style="width:100%">
          <tr>
            <th>Precio inicial</th>
            <th>Puja Actual</th>
          </tr>
          <tr>
            <td>{{subasta.precio_inicial}}</td>
            <td>{{subasta.puja_actual.dinero_pujado}}</td>
            {% if inscripto %}
              <form method="POST">
                {% csrf_token %}
                <td>{{form}}</td>
                {% if subasta.puja_actual.usuario == request.user %}
                  <td><button type="submit" class="waves-effect waves-light btn-small disabled">Pujar</button></td>
                {% else %}
                  <td><button type="submit" class="waves-effect waves-light btn-small">Pujar</button></td>
                {% endif %}
              </form>
              <button data-target="abandonar" class="waves-effect waves-light btn-small modal-trigger">Abandonar</button>
              <div id="abandonar" class="modal">
                <div class="modal-content">
                  <h4>¿Seguro que quiere abandonar la subasta?</h4>
                  <p>No podrá seguir pujando.</p>
                </div>
                <div class="modal-footer">
                  <a class="modal-close waves-effect waves-light btn-small">Cancelar</a>
                  <a href="/abandonar/{{subasta.residencia.id}}/{{subasta.id}}" class="modal-close waves-effect waves-light btn-small">
                    Sí, abandonar</a>
                </div>
            {% endif %}
          </tr>
        </table>
      {% if request.user.is_staff %}
        <h5>Pujas:</h5>
        <table style="width:50%">
          <tr>
            <td>Monto</td>
            <td>Usuario</td>
          </tr>
          {% for puja in subasta.pujas.all %}
            <tr>
              <td>{{puja.dinero_pujado}}</td>
              <td>{{puja.usuario}}</td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
      </div>
    {% endif %}
  </div>
  <script src="{% static 'scripts/pop_up.js' %}"></script>
</body>
{% endblock %}
