.centrar {
  display: flex;
  justify-content: center;
}
body {
  background: #e3f2fd;
  font-family: Helvetica;
  font-weight: bold;
}
a:hover {
  font-style: italic;
}
.logo{
  background-size: 300px;
  background-repeat: no-repeat;
  width: 150px;
  height: 60px;
  margin-left: 20;
  position: relative;
}
.logo:hover{
  width: 155px;
}
