{% extends 'admin/change_form.html' %}
{% load i18n %}
{% block field_sets %}
	{% for fieldset in adminform %}
		{% for line in fieldset %}
			{% for field in line %}
				{% if field.field.name == 'premium' %}
					{% if field.field.value %}
						<input type="button" class="button" value="Pasar usuario a básico">
					{% else %}
						<input type="button" class="button" value="Pasar usuario a Premium">
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
	{{ block.super }}
{% endblock %}