{% extends "main/headers/header_logged_in.html" %}
{% block content %}
<body>
  <h5 class="centrar">Recomendaciones</h5>
    <div class="row">
      {% for r in residencias %}
        <div class="col s12 m7 l4">
          <div class="card medium z-depth-3">
            <div class="card-image">
              <img src="https://q-cf.bstatic.com/images/hotel/max1024x768/681/68184730.jpg"/>
              <span class="card-title">{{r.nombre}}</span>
            </div>
            <div class="card-content" style="overflow: auto">
              <p>{{r.descripcion}}</p><br>
            </div>
            <div class="card-action">
              <a href="/ver_residencia/{{r.nombre}}">Conocer</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="centrar"><a href="/buscar_residencias" class="waves-effect waves-light btn-large">
      <i class="material-icons left">call_made</i>Explorar residencias</a></div>
  </body>
{% endblock %}
