.centrar {
  display: flex;
  justify-content: center;
}
@font-face {
  font-family: 'coolvetica';
  src: url('../fonts/coolvetica/coolvetica rg.ttf')  format("truetype"),
       local('coolvetica');
}
body {
  background: #e3f2fd;
  font-family: coolvetica;
  /* font-weight: bold; */
}
a:hover {
  font-style: italic;
}
.logo{
  background-size: 300px;
  background-repeat: no-repeat;
  width: 150px;
  height: 60px;
  margin-left: 20;
  position: relative;
}
.logo:hover{
  width: 155px;
}
