{% extends "main/headers/header_logged_in.html" %}
{% load static %}
{% block content %}

<body>
	<p>
	<a href="/">Volver</a>
	</p>
	<h1 class="centrar">Perfil</h1>
	<h3>
		Datos Personales
		<a href="/editar_perfil/" class="waves-effect waves-light btn-small">Editar perfil</a>
	</h3>
	<p>
		{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
		{% endif %}
	</p>
	<table>
		<tr>
			<td width="35%">Nombre completo:</td>
			<td>{{request.user.get_full_name}}</td>
		</tr>
		<tr>
			<td>Email:</td>
			<td>{{request.user.email}}</td>
		</tr>
		<tr>
			<td>Nacimiento:</td>
			<td>{{request.user.date_of_birth}}</td>
		</tr>
		<tr>
			<td>Nacionalidad:</td>
			<td>{{request.user.nacionalidad}}</td>
		</tr>
		<tr>
			<td>Contraseña:</td>
			<td><a href="/cambiar_contraseña/" class="waves-effect waves-light btn-small">Cambiar contraseña</a></td>
		</tr>
	</table>
	<h4>Datos de cuenta</h4>
	<table>
		<tr>
			<td>Semanas:</td>
			<td><a href="/perfil/mis_semanas/" class="waves-effect waves-light btn-small">Ver mis semanas</a></td>
		</tr>
		<tr>
			<td width="35%">Créditos:</td>
			<td>{{request.user.creditos}} a vencer el {{request.user.vencimiento_de_creditos}}</td>
		</tr>
		<tr>
			<td>Tipo de cuenta:</td>
			<td>{{request.user.user_type}}</td>
		</tr>
		<tr>
			<form method="POST" id="cambio">{% csrf_token %}
				<td>
					{% if request.user.premium %}
						<button data-target="basico" class="waves-effect waves-light btn-small modal-trigger">Volver a ser usuario básico</button>
						<div id="basico" class="modal">
							<div class="modal-content">
								<h4>¿Seguro que quiere dejar de ser usuario Premium?</h4>
								<p>Perderá todos los beneficios.</p>
							</div>
							<div class="modal-footer">
								<a class="modal-close waves-effect waves-light btn-small">Cancelar</a>
								<a onclick="document.getElementById('cambio').submit();" class="modal-close waves-effect waves-light btn-small">
									Sí, seguro</a>
							</div>
						</div>
					{% else %}
						<button data-target="premium" class="waves-effect waves-light btn-small modal-trigger">¡Quiero ser Premium!</button>
						<div id="premium" class="modal">
							<div class="modal-content">
								<h4>¿Seguro que quiere ser usuario Premium?</h4>
								<p>Obtendrá todos los beneficios del usuario Premium.</p>
								<p>Costo mensual: ${{suscripciones.premium}}</p>
							</div>
							<div class="modal-footer">
								<a class="modal-close waves-effect waves-light btn-small">Cancelar</a>
								<a onclick="document.getElementById('cambio').submit();" class="modal-close waves-effect waves-light btn-small">
									Sí, seguro</a>
							</div>
						</div>
					{% endif %}
				</td>
				<td>
					{{user_type_form.non_field_errors}}
				</td>
			</form>
		</tr>
	</table>
	<h4>
		Método de Pago
		<a href="#" class="waves-effect waves-light btn-small">Editar</a>
	</h4>
	<table>
		<tr>
			<td width="35%">Número de Tarjeta</td>
			<td>{{request.user.metodo_de_pago.numero_censurado}}</td>
		</tr>
	</table>
	<p></p>
	<button data-target="eliminar" class="waves-effect waves-light btn-small modal-trigger">Eliminar Cuenta</button>
	<div id="eliminar" class="modal">
		<div class="modal-content">
			<h4>¿Seguro que quiere eliminar su cuenta de Home Switch Home?</h4>
			<p>Perderá todos sus datos, pujas y reservas realizadas.</p>
		</div>
		<div class="modal-footer">
			<a class="modal-close waves-effect waves-light btn-small">Cancelar</a>
			<a href="/eliminar_usuario" class="modal-close waves-effect waves-light btn-small">
				Sí, eliminar</a>
		</div>
	<p></p>
	<script src="{% static 'scripts/pop_up.js' %}"></script>
</body>

{% endblock %}
